<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="DEFAULT_PATTERN" value="%d %-5level - %msg %n"
		scope="CONTEXT" />
	<appender name="INFO-FILE" class="ch.qos.logback.core.FileAppender">
		<file>log/info.log</file>
		<level>DEBUG</level>
		<append>true</append>
		<encoder>
			<pattern>${DEFAULT_PATTERN}
			</pattern>
		</encoder>
	</appender>
	<appender name="DEBUG-FILE" class="ch.qos.logback.core.FileAppender">
		<file>log/debug.log</file>
		<level>INFO</level>
		<append>true</append>
		<encoder>
			<pattern>${DEFAULT_PATTERN}
			</pattern>
		</encoder>
	</appender>
	<appender name="ACCESS-FILE" class="ch.qos.logback.core.FileAppender">
		<file>log/access.log</file>
		<level>DEBUG</level>
		<append>true</append>
		<encoder>
			<pattern>${DEFAULT_PATTERN}
			</pattern>
		</encoder>
	</appender>
	<appender name="PARSER-FILE" class="ch.qos.logback.core.FileAppender">
		<file>log/parser.log</file>
		<level>DEBUG</level>
		<append>true</append>
		<encoder>
			<pattern>${DEFAULT_PATTERN}
			</pattern>
		</encoder>
	</appender>
	<appender name="CONNECTION-FILE" class="ch.qos.logback.core.FileAppender">
		<file>log/connection.log</file>
		<level>INFO</level>
		<append>true</append>
		<encoder>
			<pattern>${DEFAULT_PATTERN}
			</pattern>
		</encoder>
	</appender>
	<!-- additivity=false ensures analytics data only goes to the analytics 
		log -->
	<logger name="info.log">
		<appender-ref ref="INFO-FILE" />
	</logger>
	<logger name="debug.log">
		<appender-ref ref="DEBUG-FILE" />
	</logger>
	<logger name="access.log">
		<appender-ref ref="ACCESS-FILE" />
	</logger>
	<logger name="parser.log">
		<appender-ref ref="PARSER-FILE" />
	</logger>
	<logger name="connection.log">
		<appender-ref ref="CONNECTION-FILE" />
	</logger>
	
</configuration>